body {
	background-color: #ededed;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #a4a4a4;
	line-height: 1.5em;
	font-weight: 300;
}

h1,h2,h3 {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	color: gray;
	font-weight: 400;
	font-size: 18px;
}

p {
	text-align: justify;
}

p strong {
	font-weight: bold;
	color: gray;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: #cc0000;
	text-decoration: none;

}

#movies h3 {
	font-size: 16px;
	font-weight: 400;
	color: gray;
}

#movies td {
	padding: 0px;
}

#movies img {
	width: 80px;
	padding-right: 20px;
}

#movies {
	font-size: 15px;
	line-height: 1.6em;
	font-weight: 300;
}

.card{
  background: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 10px auto;
}

.card list-inline {
	margin: 10px;
}

.text-center {
	text-align: center;
}

.list-inline {
	padding-left: 0;
	padding-bottom: 2px;
}

.list-inline li {
	display: inline-block;
	width: 30%;
}

.list-inline li i{
  font-size: 25px;
}

.btn-danger{
  background-color: #cc0000;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
}

.btn-danger:hover {
	color: #e4e4e4;
} 

#wrapper {
	margin: 20px auto;
	border-radius: 2px;
	display: table;
	padding: 20px;
	width: 1000px;
	background-color: #e4e4e4;
}

#left-container {
	float: left;
	width: 35%;
}

#left-container h1{
	color: #cc0000;
	text-align: center;
	font-size: 21px;
}

#left-container h2{
	text-align: center;
}

#left-container img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid #cccccc;
	text-align: center;
}

#right-container {
	background-color: white;
	float: right;
	width: 60%;
}

.clear {
	clear: both;
}

#footer {
	position: relative;
	padding: 10px 400px 60px 20px;
}

#share {
	position: absolute;
	text-align: center;
  	bottom: 10px;
  	right: 0px;
}

#share li{
	display: inline-block;
	width: 90px;
}

