
body {
	background-color: lightgray;
	font-family: Open Sans, sans-serif;
	font-size: 15px;
	color: #7d7d7d;
	font-weight: bold;
	line-height: 1.6em;
}

#wrapper {
	margin: 20px auto;
	border-radius: 2px;
	display: table;
	padding: 20px;
	width: 1000px;
}

h1,h2,h3 {
	font-family: Montserrat, sans-serif;
}

p {
	text-align: justify;
}

.card{
  background: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 10px auto;
}

#left-container {
	background-color: white;
	float: left;
	width: 35%;
}

#left-container h1{
	color: red;
	text-align: center;
}

#left-container h2{
	text-align: center;
}

#left-container img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid #cccccc;
	text-align: center;
}

#text-center {
	border: solid black;
}

.list-inline {
	padding-left: 0;
}

.list-inline li {
	display: inline-block;
	width: 30%;
}

.list-inline li i{
  font-size: 25px;
}

.text-center {
	text-align: center;
}

.btn-danger{
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
}

#right-container {
	background-color: white;
	float: right;
	width: 60%;
}

#movies {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6em;
}

#movies h3{
	font-size: 16px;
}

#movies td {
	padding: 10px;
}

#movies img {
	width: 80px;
	height: 100px;
}

#footer {
	background-color: white;
	clear: both;
	padding: 10px 400px 60px 20px;
}

#footer h2 {
	font-weight: bold;
	font-size: 18px;
}

#share {
	position: absolute;
	text-align: center;
	bottom: 10px;
	right: 0px;
}

a {
	color: #ccc;
	text-decoration: none;
}